In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
df_earthquake = pd.read_csv('./datasets/database.csv')

In [56]:
df_earthquake.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [57]:
print('There are {} rows and {} columns in the training dataset'.
      format(df_earthquake.shape[0],df_earthquake.shape[1]))

There are 23412 rows and 21 columns in the training dataset

In [58]:
df_earthquake.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [59]:
df_earthquake.Status.value_counts()

Reviewed     20773
Automatic     2639
Name: Status, dtype: int64

In [60]:
data_cols = ['Date', 'Time', 'Latitude', 'Longitude', 'Depth', 'Magnitude']

In [61]:
df_earthquake = df_earthquake[data_cols]

In [62]:
df_earthquake.head()

         Date      Time  Latitude  Longitude  Depth  Magnitude
0  01/02/1965  13:44:18    19.246    145.616  131.6        6.0
1  01/04/1965  11:29:49     1.863    127.352   80.0        5.8
2  01/05/1965  18:05:58   -20.579   -173.972   20.0        6.2
3  01/08/1965  18:49:43   -59.076    -23.557   15.0        5.8
4  01/09/1965  13:32:50    11.938    126.427   15.0        5.8

In [63]:
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[0], df_earthquake.Date.isna().sum()))
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[1], df_earthquake.Time.isna().sum()))
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[2], df_earthquake.Latitude.isna().sum()))
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[3], df_earthquake.Longitude.isna().sum()))
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[4], df_earthquake.Depth.isna().sum()))
print('missing values of "{}" : {} cases '.format(df_earthquake.columns[5], df_earthquake.Magnitude.isna().sum()))

missing values of "Date" : 0 cases
missing values of "Time" : 0 cases
missing values of "Latitude" : 0 cases
missing values of "Longitude" : 0 cases
missing values of "Depth" : 0 cases
missing values of "Magnitude" : 0 cases

In [82]:
# missing hidden values
print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[0], len(df_earthquake[df_earthquake['Date'] == 0])))

print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[1], len(df_earthquake[df_earthquake['Time'] == 0])))

print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[2], len(df_earthquake[df_earthquake['Latitude'] == 0])))

print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[3], len(df_earthquake[df_earthquake['Longitude'] == 0])))

# it might be missing value. I am not the earthquake expert! :)
print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[4], len(df_earthquake[df_earthquake['Depth'] == 0])))

print('missing values of "{}" : {} cases '.
      format(df_earthquake.columns[5], len(df_earthquake[df_earthquake['Magnitude'] == 0])))

missing values of "Date" : 0 cases
missing values of "Time" : 0 cases
missing values of "Latitude" : 1 cases
missing values of "Longitude" : 0 cases
missing values of "Depth" : 170 cases
missing values of "Magnitude" : 0 cases

In [80]:
df_earthquake[df_earthquake['Depth'] == 0]

             Date      Time  Latitude  Longitude  Depth  Magnitude
2614   02/16/1973  05:02:58    49.835     78.232    0.0        5.6
2797   07/23/1973  01:22:58    49.986     78.853    0.0        6.3
2859   09/12/1973  06:59:54    73.302     55.161    0.0        6.8
2876   09/27/1973  06:59:58    70.756     53.872    0.0        6.0
2897   10/27/1973  06:59:57    70.779     54.177    0.0        6.9
2951   12/14/1973  07:46:57    50.036     79.011    0.0        6.0
3126   05/31/1974  03:26:57    49.952     78.844    0.0        5.9
3205   08/14/1974  14:59:58    68.913     75.899    0.0        5.5
3218   08/29/1974  09:59:55    73.366     55.094    0.0        6.4
3269   10/16/1974  06:32:57    49.972     78.968    0.0        5.5
3286   11/02/1974  04:59:57    70.817     54.063    0.0        6.7
3331   12/27/1974  05:46:57    49.960     79.046    0.0        5.6
3374   02/20/1975  05:32:58    49.820     78.078    0.0        5.7
3445   04/27/1975  05:36:57    49.990     78.984    0.0        5.6
3488   06/08/1975  03:26:57    49.764     78.089    0.0        5.5
3593   08/23/1975  08:59:58    73.369     54.641    0.0        6.4
3661   10/18/1975  08:59:56    70.843     53.690    0.0        6.7
3663   10/21/1975  11:59:57    73.351     55.078    0.0        6.5
3674   10/29/1975  04:46:57    49.984     78.975    0.0        5.8
3739   12/25/1975  05:16:57    50.043     78.899    0.0        5.8
4004   07/04/1976  02:56:58    49.915     78.952    0.0        5.8
4035   07/29/1976  04:59:58    47.782     48.120    0.0        5.9
4071   08/28/1976  02:56:58    49.969     79.001    0.0        5.8
4109   09/29/1976  02:59:57    73.404     54.817    0.0        5.8
4161   11/23/1976  05:02:57    49.991     79.005    0.0        5.9
4180   12/07/1976  04:56:57    49.884     78.905    0.0        5.9
4275   03/19/1977  23:00:58   -21.932   -138.958    0.0        5.9
4347   05/29/1977  02:56:58    49.944     78.846    0.0        5.6
4454   09/01/1977  02:59:58    73.376     54.581    0.0        5.7
4465   09/05/1977  03:02:58    50.092     78.961    0.0        5.9
...           ...       ...       ...        ...    ...        ...
9002   05/07/1988  22:49:58    73.364     54.445    0.0        5.6
9004   05/11/1988  16:59:58   -21.867   -139.072    0.0        5.5
9025   05/25/1988  17:00:58   -21.903   -139.009    0.0        5.6
9166   09/14/1988  03:59:57    49.833     78.808    0.0        6.1
9267   11/30/1988  17:54:58   -22.244   -138.836    0.0        5.5
9269   12/04/1988  05:19:53    73.387     54.998    0.0        5.9
9291   12/17/1988  04:18:07    49.886     78.926    0.0        5.9
9327   01/22/1989  03:57:07    49.924     78.831    0.0        6.1
9357   02/12/1989  04:15:07    49.925     78.740    0.0        5.9
9466   05/11/1989  16:44:58   -21.853   -139.006    0.0        5.6
9513   06/10/1989  17:29:58   -22.252   -138.734    0.0        5.5
9546   07/08/1989  03:46:58    49.888     78.802    0.0        5.6
9671   10/19/1989  09:49:57    49.937     78.972    0.0        6.0
9729   11/27/1989  16:59:58   -22.276   -138.836    0.0        5.6
10050  06/26/1990  17:59:58   -22.215   -138.841    0.0        5.5
10126  08/16/1990  04:59:58    41.564     88.770    0.0        6.2
10209  10/24/1990  14:57:58    73.361     54.707    0.0        5.7
10234  11/14/1990  18:11:58   -22.258   -138.805    0.0        5.5
10488  05/29/1991  18:59:58   -22.256   -138.794    0.0        5.5
10907  05/21/1992  04:59:58    41.604     88.813    0.0        6.5
11641  10/05/1993  01:59:57    41.667     88.695    0.0        5.9
11757  01/17/1994  23:33:30    34.320   -118.700    0.0        5.8
11963  06/10/1994  06:25:58    41.527     88.710    0.0        5.8
12142  10/07/1994  03:25:58    41.662     88.753    0.0        6.0
12450  05/15/1995  04:05:58    41.603     88.820    0.0        6.1
12613  08/17/1995  00:59:58    41.559     88.800    0.0        6.0
13054  06/08/1996  02:55:58    41.657     88.690    0.0        5.9
14841  05/26/2000  01:28:23    38.922     20.640    0.0        5.6
16668  02/24/2004  02:27:46    35.142     -3.997    0.0        6.4
22363  09/01/2014  11:41:10    64.681    -17.495    0.0        5.5

[170 rows x 6 columns]